* {
  margin: 0;
  padding: 0;
}

.main-back {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  overflow: hidden;
}

.main-back .wave-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("./utils/wave/img/wave.png");
  background-size: 1000px 100px;
  animation: animate 20s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.main-back .wave-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("./utils/wave/img/wave.png");
  background-size: 1000px 100px;
  animation: animate2 30s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.main-back .wave-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("./utils/wave/img/wave.png");
  background-size: 1000px 100px;
  animation: animate 15s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.main-back .wave-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("./utils/wave/img/wave.png");
  background-size: 1000px 100px;
  animation: animate2 15s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Poppins' sans-serif;
}

nav .nav-links .nav-link a {
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  transition: 0.5s;
}

nav .nav-links .nav-link a:hover {
  background: #fff;
  color: black;
  box-shadow: 0 0 50px #fff;
}

.card {
  position: absolute;
  top: 47%;
  left: 75%;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.1);
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5), 0 20px 100px rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.card:hover {
  transform: translate(-50%, -50%) perspective(2000px);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5), 0 10px 100px rgba(0, 0, 0, 0.5);
}

.card:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.2);
  transform-origin: bottom;
  transform: skewX(-45deg);
}

.card:after {
  content: '';
  position: absolute;
  top: 0;
  right: -5px;
  width: 5px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform-origin: left;
  transform: skewY(-45deg);
}

.card .imgBox {
  position: relative;
  transform-origin: left;
  transition: 1s;
  z-index: 1;
}

.card .imgBox img {
  width: 400px;
  height: 400px;
}

.card .detail {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0px;
  z-index: -1;
}

.card:hover .imgBox {
  transform: rotateY(-135deg);
}

.img-slider {
  position: relative;
  width: 400px;
  height: 300px;
}

.img-slider .slider {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slider img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slider img:nth-child(1) {
  height: 400px;
}

.img-slider .slider .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slider .info h2 {
  color: white;
  font-size: 45px;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slider .info p {
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .navigator {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigator .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigator .active {
  background: #3F5EFB;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .main-back .bubble {
  position: relative;
}

body .main-back .right-img {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: right;
  right: 5vw;
  bottom: 30vh;
  color: white;
  font-size: 3rem;
  z-index: 2;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

body header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

body header .logo-container {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  flex: 1;
}

body header .logo-container .logo-sub {
  font-size: 0.3em;
  margin-left: 1em;
}

body header nav {
  flex: 3;
}

body header nav .nav-links {
  justify-content: space-around;
  list-style: none;
  display: flex;
}

body .card {
  z-index: 1;
}

body .card .imgBox img {
  width: 400px;
  height: 400px;
}
/*# sourceMappingURL=index.css.map */